<template>
    <div class="landing">


        <button class="button is-primary is-medium"
                @click="isOneJobActive = true">
            make gif for one video
        </button>

        <b-modal :active.sync="isOneJobActive" has-modal-card>

            <!--<modal-form v-bind="formProps">-->

                <form action="">
                    <div class="modal-card" style="width: auto">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Create One Job</p>
                        </header>
                        <section class="modal-card-body">
                            <b-field label="Bucket name">
                                <b-input
                                        type="name"
                                        v-model="bucketName"
                                        placeholder="Your bucket name"
                                        required>
                                </b-input>
                            </b-field>

                            <b-field label="Object name">
                                <b-input
                                        type="name"
                                        v-model="objectName"
                                        placeholder="Your object name"
                                        required>
                                </b-input>
                            </b-field>

                            <b-field label="target name">
                                <b-input
                                        type="name"
                                        v-model="targetName"
                                        placeholder="Your target name"
                                        required>
                                </b-input>
                            </b-field>


                        </section>
                        <footer class="modal-card-foot">
                            <button class="button" type="button" @click="()=>{isOneJobActive = false}">Close</button>
                            <button class="button is-primary" type="button" @click="oneJob()">Confirm</button>
                        </footer>
                    </div>
                </form>


            <!--</modal-form>-->
        </b-modal>



        <button class="button is-info is-medium"
                @click="isAllJobActive = true">
            make gif for all videos
        </button>

        <b-modal :active.sync="isAllJobActive" has-modal-card>

            <!--<modal-form v-bind="formProps">-->

            <form action="">
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Create Jobs</p>
                    </header>
                    <section class="modal-card-body">
                        <b-field label="Bucket name">
                            <b-input
                                    type="name"
                                    v-model="bucketName"
                                    placeholder="Your bucket name"
                                    required>
                            </b-input>
                        </b-field>


                    </section>
                    <footer class="modal-card-foot">
                        <button class="button" type="button" @click="()=>{isAllJobActive = false}">Close</button>
                        <button class="button is-primary" type="button" @click="allJob()">Confirm</button>
                    </footer>
                </div>
            </form>
        </b-modal>


        <button class="button is-warning is-medium"
                    @click="isAllGifActive = true">
                delete all gifs
            </button>

            <b-modal :active.sync="isAllGifActive" has-modal-card>

                <!--<modal-form v-bind="formProps">-->

                <form action="">
                    <div class="modal-card" style="width: auto">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Delete all gifs</p>
                        </header>
                        <section class="modal-card-body">
                            <b-field label="Bucket name">
                                <b-input
                                        type="name"
                                        v-model="bucketName"
                                        placeholder="Your bucket name"
                                        required>
                                </b-input>
                            </b-field>


                        </section>
                        <footer class="modal-card-foot">
                            <button class="button" type="button" @click="()=>{isAllGifActive = false}">Close</button>
                            <button class="button is-primary" type="button" @click="deleteAll()">Confirm</button>
                        </footer>
                    </div>
                </form>


            <!--</modal-form>-->
        </b-modal>



        <b-field>
            <b-input placeholder="Search Bucket..."
                     type="search"
                     v-model="bucketName"
                     icon="magnify">
            </b-input>
            <p class="control">
                <button class="button is-primary" @click="getList()">Search</button>
            </p>
        </b-field>


        <b-table :data="data" :fields="fields">


            <template slot-scope="props">

                <template v-for="field in fields">
                    <b-table-column :field="field.field" :label="field.label" :sortable="field.sortable">
                        {{ field.display(props.row) }}
                    </b-table-column>
                </template>

                <b-table-column label="Display" style="width: 50px">
                    <button class="button" type="button" @click="show(props.row.name)">Show gif</button>

                </b-table-column>

                <b-table-column label="Delete" style="width: 50px">
                    <button class="button" type="button" @click="deletegif(props.row.name)">Delete gif</button>

                </b-table-column>
            </template>

        </b-table>

        <!--<img v-for="image in images" :src="image.url" :alt="image.alt-->

        <div class="columns is-multiline is-centered">
            <div
                    v-for="(g, index) in this.gifs" :key="index"
                    class="column is-narrow" >
                <div class="tile">
                    <article class="tile is-child notification is-primary">
                        <img :src="g">

                    </article>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import _ from 'lodash'

    import {getOneJob, getAllJob, getBucketList, deleteGifFile} from "../api/api";
    import BTableColumn from "buefy/src/components/table/TableColumn";

    export default {
        name: 'Landing',
        components: {BTableColumn},
        props: {
            msg: String
        },
        // components: {
        //     ModalForm
        // },
        data() {
            return {
                isOneJobActive: false,
                isAllJobActive: false,
                isAllGifActive: false,
                bucketName: '',
                objectName: '',
                targetName: '',
                gifs: [],
                toDeleteGifs: [],
                data: [],
                fields: [
                {
                    field: 'name',
                    label: 'Name',
                    centered: true,
                    display(row) {
                        return row.name
                    }
                },
                {
                    field: 'etag',
                    label: 'E-Tag',
                    centered: true,
                    display(row) {
                        return row.etag
                    }

                },
                {
                    field: 'size',
                    label: 'Size(Bytes)',
                    centered: true,
                    display(row) {
                        return row.size
                    }

                },
                {
                    field: 'modified',
                    label: 'Modified',
                    centered: true,
                    display(row) {
                        return row.modified
                    }
                },
                {
                    field: 'created',
                    label: 'Created',
                    centered: true,
                    display(row) {
                        return row.created
                    }
                }
                ]
            }
        },
        methods: {
            oneJob() {
                getOneJob(this.bucketName, this.objectName, this.targetName)
                this.alert()
                this.isOneJobActive = false
            },
            alert() {
                this.$dialog.alert('work has been sent ')
            },
            allJob() {
                getAllJob(this.bucketName)
                this.alert()
                this.isAllJobActive = false
            },
            show(itemname){
                var gifFile = itemname.substring(0, itemname.lastIndexOf('.'))
                this.gifs.push(`http://localhost:8080/${this.bucketName}/${gifFile}.gif`)
            },
            deletegif(itemname){
                var gifFile = itemname.substring(0, itemname.lastIndexOf('.'))
                deleteGifFile(this.bucketName,gifFile)
            },
            async deleteAll(){
                this.alert()
                this.isAllGifActive = false
                this.toDeleteGifs = []
                await getBucketList(this.bucketName).then(({data}) => {
                    const obj = data.objects
                    this.toDeleteGifs = _.filter(obj, (o) => {
                        return _.includes(o.name,".gif")
                    })
                })
                for(let i = 0; i < this.toDeleteGifs.length; i++){
                    this.deletegif(this.toDeleteGifs[i].name)
                }
            },
            getList() {
                getBucketList(this.bucketName).then(({data}) => {
                    const obj = data.objects

                    this.data = _.filter(obj, (o) => {
                        return _.includes(o.name,".mp4") ||
                                _.includes(o.name,".mov") ||
                                _.includes(o.name, ".avi")
                    })
                })
                console.log(this.data)
                this.gifs = []
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
